<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright @ 2026 Anh Quoc Tran. Licensed under the MIT license.</string>
    <key>CFBundleGetInfoString</key>
    <string>Stage0 0.1.0+88a6195.x64, Copyright @ 2026 Anh Quoc Tran. Licensed under the MIT license.</string>
</dict>
</plist>
